.about-me p {
  font-size: 18px;

}

p {
  width: 800px;
  padding: 5px;
  margin: 25px 25px;
}



.about-me h2 {
  width: 800px;
  padding: 5px;
  margin: 25px 25px;

}

p a {
  color: limegreen;
}

p a:hover {
  color: lime;
}



p {
  width: 800px;
  padding: 5px;
  margin: 25px 25px;
}
