.about-me p {
  font-size: 18px;

}

.about-me h2 {
  width: 800px;
  padding: 5px;
  margin: 25px 25px;

}

#p2 a {
  color: limegreen;
}

#p2 a:hover {
  color: lime;
}

p {
  width: 800px;
  padding: 5px;
  margin: 25px 25px;
}
