* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  color: #f6f6f6;
  background-color: #191919;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191919;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f6f6f6;
  text-align: start;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1.0);
}

.nav {
  border-bottom: 1px solid rgba(44, 44, 44, 0.70);
}

